In [1]:
import pandas as pd 
import numpy as np

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

data1 = pd.read_csv('50_Startups.csv')
data1.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), ['State']),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

coltran = ColumnTransformer(transformer_list)
tran = coltran.fit_transform(data1)

data2 = pd.DataFrame(tran, columns=coltran.get_feature_names_out())
data2.head()

,encoded__State_California,encoded__State_Florida,encoded__State_New York,skip__R&D Spend,skip__Administration,skip__Marketing Spend,skip__Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [7]:
d = data2.iloc[:, :-1].values
i = data2.iloc[:, 6].values

d = i.reshape(len(i), 1)
i.shape

(50,)

In [15]:
dm_train, dm_test, im_train, im_test = train_test_split(d, i, test_size=0.2, random_state=50)
#linear regression
mlr = LinearRegression()
mlr.fit(dm_train, im_train)

im_pred = mlr.predict(dm_test)

mix = np.concatenate((im_test, im_pred), axis=1)
mix

AxisError: ignored

In [14]:
r2_mlr = r2_score(im_test, im_pred)
print(r2_mlr)

1.0